.hero {
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
}

@media screen and (max-width: 670px){
  .hero {
    min-height: 500px;
  }
}

/* .section {
  background-color: purple;
  width: 100%;
} */
