.navbar {
  background-size: cover;
  background-position: center;
  /* min-height: 1000px; */
}

@media screen and (max-width: 670px){
  .navbar {
    min-height: 500px;
  }
}

.nav-items a{
  color: black;
}
